{% extends "base.html" %}

{% block title %}Check Brands{% endblock %}

{% block content %}
<h2>Check Brands</h2>
<form method="post" enctype="multipart/form-data">
    <label for="txt_file">Upload TXT File:</label>
    <input type="file" name="txt_file" required>
    <br>
    <label for="csv_files">Upload CSV Files:</label>
    <input type="file" name="csv_files[]" multiple required>
    <br>
    <input type="submit" value="Check">
</form>
<form method="post" action="{{ url_for('clear_check_brands') }}">
    <input type="submit" value="Clear">
</form>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message|safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
